<div id='right-column'>
	<h3>Help us with content!</h3>
	<div class='controls'>
		<%= link_to 'Add Gifs', new_gif_path, class: 'button white centered' %>
		<%= link_to 'Group Gifs', empty_path, class: 'button white centered' %>
		<p>We need all the help we can get!</p>
	</div>
	
	<%= link_to 'Browse our Tags', tags_path %>
	
	<div style="clear: both;"></div> 
</div>

