// Place all the styles related to the gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#centered-search-gifs {
	width:463px;
	margin: 10px auto;
}

#gifs-centered {
	width:463px;
	margin: 10px auto;
	a {
		display:inline-block;
		color:#666;
		
		&:hover {
			color:#000;
			background:transparent;
		}
	}
	
	h2 {
		text-align:left;
		margin: 30px 0px 0px 0px;
		padding: 0px;
		float:none;
		display:block;
		color:#121212;
	}
}

.gif-image {
	margin:10px 0px;
	display: block;
}

.gif-tag {
	padding:5px 10px;
	background: #1E1E1E;
	border-radius: 5px;
	text-decoration:none;
}

.image-input {
	border:none;
	width:200px;
	margin-top:10px;
	margin-bottom:25px;
}

#gif_title {
	width:441px;
}

#gif_tag_names {
	resize:none;
}

#new_gif p {
	font-size:10px;
	margin-top:0px;
	color:#555;
	
	em {
		color:#000;		
	}
}

.tag-field {
	display:block;
}

.checkbox-tag {
	display:inline-block;
	margin:8px 5px;
}

.tag-stretch {
	padding:6px 0px;
	display:inline;	
	background: url(image_path('tag-stretch.png')) repeat-x;
	height:27px;
	font-weight: bold;
}

.tag-left {
	margin: -8px 0px;
	padding:0px;
	background: url(image_path('tag-left.png')) no-repeat;
	width:5px;
	height:27px;
	display:inline-block;
}

.tag-right {
	margin: -8px -5px;
	padding: 0px;
	background: url(image_path('tag-right.png')) no-repeat;
	width: 16px;
	height: 27px;	
	display:inline-block;
}

.gif-tag {
	margin: 8px 5px 8px 0px;
	padding:0px;
	background-color:transparent;
	display:inline-block;
	a {
		color:#666;
		
		&:hover {
			color:#000;
			background:transparent;
		}
	}
}
