// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-centered {
	width:463px;
	margin:0px auto;
	
	h1 {
		margin-bottom:20px;
		padding-left:0px;
	}
}

.vertically-centered {
	height: 419px;
	margin: -230px 0px 0px -231px;
	position: absolute;
	top: 50%;
	left: 50%;
	
	h2 {
		margin:0px 0px 10px 0px;
		padding: 0px;
		text-align:center;
	}
	
	p {
		margin:0px;
		padding:0px;
		color:#939393;
	}
	
	a {
		color:#444;
	}
}

//search home
.search-form-home {
	margin: 10px 0px 10px 0px;
	width:463px;
	height:58px;
	background: url(image_path('searchBG.png')) no-repeat;
	
	p {
		padding-top:11px;
	}
	
	.search-input {
		margin: 6px 0px 0px 55px;
	}
}

#big-logo {
	background: url(image_path('bigLogoHome.png')) no-repeat;
	width:310px;
	height:178px;
	margin: 25px auto 0px auto;
	 p {
	 	padding: 52px 0px 0px 142px;
	 	text-align:center;
	 	font-size:14px;
	 	font-weight:bold;
	 	color: #343434;
	 }
}

#home-tags {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	padding: 10px;
}