#right-column {
	float:right;
	margin:0px 25px;
	width:204px;
	h3 {
		margin:30px 10px 10px 0px;
		color:#343434;
		text-align:center;
	}
	
	.centered {
		margin: 5px 27px;
		width: 75px;
	}
	
	.controls {
		color: #606060;
		border: solid 1px #b7b7b7;
		background: #fff;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
		background: -moz-linear-gradient(top,  #fff,  #ededed);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
		padding: 10px;
		
		p {
			margin:5px 0px;
			text-align:center;
		}
	}
}
