body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  margin:0px;
  }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #C0C0C0;
  text-decoration:none;
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }
  
  
.field .text {
	display:block;
	border-width:5px 5px 5px 5px;
	border-image: url(image_path('input-field.png')) 5 5 5 5 stretch repeat;
}

.field_with_errors .text {
	border-width:10px 11px;
	border-image: url(image_path('input-field-error.png')) 10 11 stretch repeat;
	margin-left:-5px;
 }

#error_explanation {
display:block;
  width: 100%;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #c00; }
  ul li {
    font-size: 12px;
    list-style: square; } }

/*Mine*/
header {
	margin: 0px;
	padding: 0px;
	height:40px;
	background-color: #1E1E1E
}

h1 {
	font-size: 17px;
	margin: 0px;
	padding: 10px 0px 0px 10px;
}

h2 {
	font-size: 15px;
	margin: 0px 10px;
	padding: 11px 10px 0px 0px;
}

#body-wrapper {
	margin:10px 0px;
	padding:0px;
	height:100%;
	min-height:400px;
	
}

//buttons
.add-gif-btn {
	width:83px;
	height:34px;
	background: url(image_path('addBtn.png')) no-repeat;
	text-indent: -5000px;
	float:right;
	margin: -26px 10px 0px 0px;
}

.add-gif-btn:hover {
	background-position: -84px 0px;
	background-color:transparent;
}

//Footer
footer {
	/*position:absolute;
	bottom:0px;
	margin: 0px;
	padding: 0px;*/
	height:20px;
	width:100%;
	background-color: #1E1E1E;
	h1 {
		font-weight:normal;
		float:right;
		padding-top: 2px;
		font-size:12px;
		padding-right:10px;
		color:white;
	}
}