html, body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  margin:0px;
  height:100%;
  min-height:454px;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#body-wrapper {
	min-height:100%;
}

#main {
	overflow:auto;
	padding-bottom:20px;
	height:100%;
	min-width:847px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  color:#939393;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
	text-decoration:none;
	display:inline-block;
	color:#444;
	
	&:hover {
		color:#000;
		background:transparent;
	}
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }
  
  
.field .text {
	display:block;
	border-width:5px 5px 5px 5px;
	border-image: url(image_path('input-field.png')) 5 5 5 5 stretch repeat;
}

.field_with_errors .text {
	border-width:10px 11px;
	border-image: url(image_path('input-field-error.png')) 10 11 stretch repeat;
	margin-left:-5px;
 }

#error_explanation {
display:block;
  width: 100%;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #c00; }
  ul li {
    font-size: 12px;
    list-style: square; } }

/*Mine*/
header {
	margin: 0px;
	padding: 0px;
	height:60px;
	
	border: solid 1px #000;
	background: #fcb040;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcb040), to(#e7a13b));
	background: -moz-linear-gradient(top,  #fcb040,  #e7a13b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcb040', endColorstr='#e7a13b');
}

.small-logo {
	background: url(image_path('logo-small.png')) no-repeat;
	width:41px;
	height:55px;
	text-indent:-9999px;
	&:hover {
		background: url(image_path('logo-small.png')) no-repeat;
	}
	
	margin:5px 25px;
}

.twitter-share-button {
	float:right;
	margin:20px 0px;
}

.fb-like {
	float:right;
	margin:20px 0px;
}

//Header search
.search-form {
	margin: 3px 0px 0px 0px;
	width:463px;
	height:58px;
	background: url(image_path('searchBG.png')) no-repeat;
	position:absolute;
	top:0px;
	left:100px;
	
	p {
		//margin-top: 11px;
	}
}

.search-input {
	border: none;
	margin: 4px 0px 0px 55px;
	width: 382px;
	font-size:18px;
}

.search-btn {
	width:83px;
	height:34px;
	background: url(image_path('searchBtn.png')) no-repeat;
	border: 0px;
	text-indent: -5000px;
	padding-top: 8px;
	margin-left:5px;
}

.search-btn:hover {
	background-position: -84px 0px;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFC873;
    }
  }
}

h1 {
	font-size: 17px;
	margin: 0px;
	padding: 10px 0px 0px 10px;
}

h2 {
	font-size: 15px;
	margin: 0px 10px;
	padding: 11px 10px 0px 0px;
}

//buttons
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	&:hover {
		text-decoration: none;
	}
	
	&:active {
		position: relative;
		top: 1px;
	}
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.right {
	float:right;
	margin: 12px 10px 0px 0px;
}

//Footer
footer {
	position:relative;
	height:20px;
	margin-top:-20px;
	clear:both;
	width:100%;
	background-color: #DC9115;
	
	h1 {
		font-weight:normal;
		float:right;
		padding-top: 2px;
		font-size:12px;
		padding-right:10px;
		color:#444;
	}
	
	a {
		color:#444;
		
		&:hover {
			color:#fff;
		}
	}
}

//Pagination
.pagination {
	text-align:center;
	margin: 30px 0px 10px 0px;
	font-size: 14px;
	display: block;
}