body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  margin:0px;
  }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

/*Mine*/
header {
	margin: 0px;
	padding: 0px;
	height:40px;
	background-color: #ccc
}

h1 {
	font-size: 17px;
	margin: 0px;
	padding: 10px 0px 0px 10px;
	color:#666666;
	float:left;
}

h2 {
	font-size: 15px;
	margin: 0px 10px;
	padding: 11px 10px 0px 0px;
	color:#666666;
	text-align:right;
	float:left;
}

//buttons
.add-gif-btn {
	width:83px;
	height:34px;
	background: url(image_path('addBtn.png')) no-repeat;
	text-indent: -5000px;
	float:right;
	margin: -26px 10px 0px 0px;
}

.add-gif-btn:hover {
	background-position: -84px 0px;
	background-color:transparent;
}